<form action="/" method="post">
	<label for="post-code">Post Code:</label>
	<input type="text" id="post-code" name="postCode" value="{{postCode}}">
	<button type="submit">Submit</button>
</form>

{{#if location}}
  <h2>{{location}}</h2>
{{/if}}
